DB_HOST=127.0.0.1
DB_PORT=55432
DB_USER=postgres
DB_PASSWORD=secret
DB_NAME=cardb
DB_SSLMODE=disable
SERVER_PORT=8081
RABBITMQ_HOST=127.0.0.1
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_USER=carservice
RABBITMQ_PASSWORD=carservice_secret
RABBITMQ_VHOST=/
WORKERS=4

